  body{
    background: url(images/BlackStarsSmall.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
}

@keyframes dropHeader {
  0% {
    opacity: 0;
    transform: translate(50%, 0);
    position: relative;
    top: 0%;
    left: 0%;
}
  100% {
    transform: translate(0, 0);
    position: relative;
    top: 0%;
    left:0%;
    opacity: 1;
  }
}

.menu{
  animation: 0.7s ease-out 1s 1 both dropHeader;
  width: 100%;
  margin: auto;
  list-style-type: none;
  text-align: center;
  padding: 50px 0px 10px 0px;
}

.menu-elements{
  display: inline-block;
  padding: 0px 15px;
  text-align: center;
  box-shadow: 0px 0px 0px #000000;
}


.menu-text{
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: 5px solid rgba(0,0,0,0);
  transition: all 0.2s ease-in-out;
}

.menu-text:hover{
  text-decoration: none;
  color: black;
  background-color: white;
  border: 5px solid rgba(255,255,255,1);
  transform: scale(1.2, 1.2);
}

.header{
  width: 100%;
}

.whitebackground{ 
    background: url(images/concretewall.jpg) center center; 
    padding: 20px 0px;
    margin: 50px 0px;
    box-shadow: 8px 8px 15px RGBa(0,0,0,0.50);

}

h1 {
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 60px;
  color: black;
  text-align: center;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 60px;
  color: white;
  text-align: center;
  padding: 20px;
}

.center{
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

iframe{
  max-width: 100%;
  padding: 30px;
}

#videoContainerLeft{ 
  padding: 30px;
}

p {
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: white;
  font-stretch: expanded;
  text-align: center;
}

.blacktext { 
 color: black;
}

.colcentered { 
  float: none;
  margin: 0 auto;
  width: 60%;
}

p.verticalCenterText{
  position: relative;
  margin: auto;
  padding: 45px 20px;
  }

  @media screen and (min-width: 769px) {
  body{
    background: url(images/BlackStarsMedium.jpg) no-repeat center center fixed; 
  }
}

@media screen and (min-width: 1024px) {
    body{
      background: url(images/BlackStarsLarge.jpg) no-repeat center center fixed; 
  }
}
